@page "/{author}"
@model PostsPageModel
<h1>@Model.Title</h1>

@if (Model.Posts == null || Model.Posts.Count == 0)
{
    @("Nothing found")
}
else
{
    foreach (var post in Model.Posts)
    {
        <article>
            <header>
                <h2><a href="@post.Url">@Html.DisplayFor(modelItem => post.Title)</a></h2>
                <span class="post-category">@Html.DisplayFor(modelItem => post.PostType.Name)</span> ·
                <span class="post-author">@Html.DisplayFor(modelItem => post.Author.ShortName)</span> ·
                <span class="post-date">@Html.DisplayFor(modelItem => post.DatePublished)</span>
            </header>
        </article>
    }
}
