<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"] · kodex</title>
    <meta name="description" content="@ViewData["Description"]">

    @* todo
        <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#41c6e7">
        <meta name="msapplication-TileColor" content="#41c6e7">
        <meta name="theme-color" content="#41c6e7">*@

    <environment include="Development">
        @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />*@
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    </environment>
    <environment exclude="Development">
        @*<link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
            asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
            asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />*@
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    @RenderSection("Styles", required: false)
</head>
<body>
    <header class="site-header">
        <a asp-page="/Index" class="site-logo-link">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" version="1.0" 
                 viewBox="0 0 750 600" id="logo" width="1e3" height="800" class="site-logo">
                <metadata>
                    <rdf:RDF>
                        <cc:Work rdf:about="">
                            <dc:format>image/svg+xml</dc:format>
                            <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
                            <dc:title />
                        </cc:Work>
                    </rdf:RDF>
                </metadata>
                <g transform="matrix(.099045 0 0 -.099265 .0082905 572.99)">
                    <path id="brian" d="m2325 5434c-780-120-1477-575-1894-1236-67-107-165-287-160-293 7-7 2164-926 2186-932l23-5v2482l-32-1c-18-1-73-7-123-15z" />
                    <path id="melissa" d="m2970 4205c0-821 3-1245 10-1245 10 0 2211 938 2219 945 2 2-19 46-46 97-409 774-1158 1306-2014 1432-59 9-121 16-138 16h-31z" />
                    <path id="lydia" d="m80 3378c-90-411-95-824-14-1216 76-369 255-760 491-1072 66-88 213-258 224-259 3-1 362 367 798 816 541 559 787 819 778 824-31 18-2224 952-2243 956s-23-2-34-49z" />
                    <path id="amber" d="m1950 1318c-426-440-776-806-778-812-1-6 42-39 97-73 464-290 925-423 1466-423s1002 133 1466 423c55 34 98 67 97 73-4 16-1548 1608-1562 1611-6 1-360-358-786-799z" />
                    <path id="penny" d="m4226 2950c-615-264-1120-481-1122-483-6-5 1578-1638 1586-1635 15 6 166 182 232 270 231 308 410 701 483 1064 67 331 74 710 19 1039-28 169-44 225-62 224-9 0-520-216-1136-479z" />
                </g>
                <g>
                    <path id="bar" d="m379.44-0.9375a305.53 318.15 0 0 1 217.96 304.66 305.53 318.15 0 0 1 -191.26 294.87h343.87v-599.53z" stroke-width="1.1574" />
                </g>
            </svg>
        </a>
        <div class="site-header-block">
            <nav>
                <span class="site-title">kodex</span>
                <a href="#footerNav" class="footer-nav-link">Menu</a>
            </nav>
        </div>
    </header>
    <main class="container body-content">
        @RenderBody()
    </main>
    <footer class="site-footer">
        <img class="cc-logo" src="~/images/cc.svg" />
        <ul id="footerNav" class="footer-nav" role="navigation">
            <li><a asp-page="/Index">Home</a></li>
            <li><a asp-page="/About">About</a></li>
            <li><a href="/all">Posts</a></li>
        </ul>
        <partial name="_LoginPartial.cshtml" />
    </footer>
    <environment include="Development">
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        @*<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery"
                    crossorigin="anonymous"
                    integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
            </script>*@
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
